.about{
    &__wrapper{
        padding-top: 120px;
    }
    &__title{
        max-width: 528px;
        text-align: center;
        font-size: 28px;
        margin: 0 auto;
        font-weight: 400;
    }
    &__text{
        max-width: 628px;
        text-align: center;
        font-size: 16px;
        margin: 16px auto 21px auto;
    }
    &__link{
        position: relative;
        text-align: center;
        color:#A25F4B;
        font-size: 15px;
        &::before{
            content:'';
            position: absolute;
            width: 133px;
            height: 2px;
            background-color:#A25F4B;
            opacity: 50%;
            bottom: -14px;

        }
    }
}